.dataForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dataForm input {
    width: 50%;
    display: block;
    margin: 1%;
}

.dataForm input[type="text"],
.dataForm input[type="email"] {
    padding: 14px;
}
